@tailwind base;
@tailwind components;
@tailwind utilities;
/* Customizing Base Font. Check tailwind.config file for more fonts */
@layer base {
  * {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
}



html {
  scroll-behavior: smooth;
}


@keyframes slide {
  0% { 
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-99%);
  }
}
.animate-slide {
  animation: slide 25s linear infinite;
  animation-iteration-count: infinite;
}
  

/* BUBBLE TEXT  */
.hoverText {
  transition:
    0.35s font-weight,
    0.35s color;
}

.hoverText:hover {
  font-weight: 900;
  color: rgb(238, 242, 255);
}

/* To the right */
.hoverText:hover + .hoverText {
  font-weight: 500;
  color: rgb(199, 210, 254);
}

.hoverText:hover + .hoverText + .hoverText {
  font-weight: 300;
}

/* To the left */
.hoverText:has(+ .hoverText:hover) {
  font-weight: 500;
  color: rgb(199, 210, 254);
}

.hoverText:has(+ .hoverText + .hoverText:hover) {
  font-weight: 300;
}


